
<div class="card bg-gradient rounded-3" style="width: 18rem; height: 5rem; background-color: 
@(BackgroundColor);cursor:pointer;" @onclick="async ()=>{await HandleCardClick(CardId);}" >
    <div class="d-flex align-items-center h-100 px-2 gap-4">
        <img src="@ImgUrl" width="70" height="70" class="m-0 p-0 oi oi-clipboard" />
        <div>
            <p class="fs-5 p-0 m-0">@Title</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public int CardId { get; set; }
    [Parameter] public string ImgUrl { get; set; }
    [Parameter] public string BackgroundColor { get; set; }
    [Parameter]
    public EventCallback<int> OnCardClick { get; set; }
    [Parameter] public string Title { get; set; } 
    [Parameter] public string ImageUrl { get; set; }
    [Parameter] public int Count { get; set; }
    private async Task HandleCardClick(int cardId)
    {
        await OnCardClick.InvokeAsync(cardId);
        
    }
}